<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Android</title>
  </head>
  <body>
    <h2>Crear Nuevo Tema</h2>
    <a class="btn" href="FormCreatePost.html">Crear Tema</a>

    <!-- traer imagen minimizada -->
    <!-- <picture>
      <source
        srcset="../../build/img/WhatsApp Image 2022-04-07 at 11.57.38 AM.avif"
        type="image/avif"
      />
      <source
        srcset="../../build/img/WhatsApp Image 2022-04-07 at 11.57.38 AM.webp"
        type="image/webp"
      />
      <img
        loading="lazy"
        src="../../build/img/WhatsApp Image 2022-04-07 at 11.57.38 AM.jpeg"
        alt=""
      />
    </picture> -->
  </body>
</html>
