<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Tema</title>
  </head>
  <body>
    <form action="crear">
      <legend>Llena los campos</legend>
      <label for="">Tema</label>
      <input type="text" placeholder="Ingresa el tema" />
      <label for="">Descripcion</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <label for="">Ingresar Documentos</label>
      <label for="">ingresar Imagenes</label>
      <label for="">Fecha de Ingreso</label>
    </form>
  </body>
</html>
