form{
    max-width: 50%;
    margin: 0 auto;
    fieldset{
        -webkit-box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.46); 
        box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.46);        
        padding: 2rem;
    }
    label{
        font-size: 1.8rem;
    }
    input{
        width: 100%;
        margin: .7rem 0;
        font-size: 2rem;
        border: 1px solid #817f7f;
        border-radius: 5px;

    }
    textarea{
        margin: .7rem 0;
        font-size: 2rem;
        border: 1px solid #817f7f;
        width: 100%;

    }
    select{
        width: 100%;
        margin: .7rem 0;
        font-size: 2rem;
        color: rgb(14, 0, 142);
        background-color: rgb(255, 255, 255);
        border: none;
        border: 1px solid #817f7f;
        border-radius: 1px;
    }
}

