nav{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 2rem;
    text-align: center;
    background-color: #000000;
    padding: 2rem;
    align-items: center;
    .enlaces{
        text-align: left;
        a{
            margin: 0 1rem 0 0 ; 
            font-size: 1.8rem;
            color: rgb(200, 200, 200);
            border-bottom: 1px solid transparent;
            padding-bottom: 2rem;
        }
        :hover{
            color: white;
            border-bottom: 1.5px solid rgb(255, 255, 255);
            transition: all ease-out .4s;

        }
    }
    .login{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4,1fr);
        
        a{
            font-size: 1.8rem;
            color: white;

        }
        .sing-in{
            color: rgb(223, 104, 0);
        }
    
        .avatar{
            img{
                border-radius: 5rem;
                display: inline;
                Width: 30%;
                border-bottom: 1px solid transparent;
                
            }
        }
    } 
    }

    .menu{
        color: white;
        font-size: 2rem;
        #check{
            // display: none;
        }
        .checkbtn{
            // display: none;
        }
    }


