nav{
    display: grid;
    grid-template-columns: 75% 20% 0%;
    gap: 2rem;
    text-align: center;
    background-color: #212529;
    padding: 2rem;
    .enlaces{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        
        a{
            font-size: 1.6rem;
            color: rgb(200, 200, 200);
            border-bottom: 1px solid transparent;
            margin-bottom: -1.5rem;
        }
        :hover{
            color: white;
            border-bottom: 1.5px solid rgb(255, 255, 255);
            transition: all ease-out .2s;
        }
    }
    .login{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        a{
            font-size: 1.8rem;
            color: white;

        }
    }
    .menu{
        color: white;
        font-size: 2rem;
        #check{
            // display: none;
        }
        .checkbtn{
            // display: none;
        }
    }
}

